.vscode/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assets/
Battlebarn.sln
Cinemachine.csproj
Library/
Logs/
PPv2URPConverters.csproj
Packages/
ProjectSettings/
Temp/
Unity.Burst.CodeGen.csproj
Unity.Burst.Editor.csproj
Unity.Burst.csproj
Unity.CollabProxy.Editor.csproj
Unity.EditorCoroutines.Editor.csproj
Unity.InputSystem.ForUI.csproj
Unity.InputSystem.TestFramework.csproj
Unity.InputSystem.csproj
Unity.Mathematics.Editor.csproj
Unity.Mathematics.csproj
Unity.Performance.Profile-Analyzer.Editor.csproj
Unity.PlasticSCM.Editor.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
Unity.RenderPipelines.Universal.Editor.csproj
Unity.RenderPipelines.Universal.Runtime.csproj
Unity.RenderPipelines.Universal.Shaders.csproj
Unity.Rider.Editor.csproj
Unity.Searcher.Editor.csproj
Unity.Settings.Editor.csproj
Unity.ShaderGraph.Editor.csproj
Unity.ShaderGraph.Utilities.csproj
Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
Unity.TestTools.CodeCoverage.Editor.csproj
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.csproj
Unity.Timeline.Editor.csproj
Unity.Timeline.csproj
Unity.VSCode.Editor.csproj
Unity.VisualScripting.Core.Editor.csproj
Unity.VisualScripting.Core.csproj
Unity.VisualScripting.Flow.Editor.csproj
Unity.VisualScripting.Flow.csproj
Unity.VisualScripting.SettingsProvider.Editor.csproj
Unity.VisualScripting.Shared.Editor.csproj
Unity.VisualScripting.State.Editor.csproj
Unity.VisualScripting.State.csproj
Unity.VisualStudio.Editor.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEngine.TestRunner.csproj
UnityEngine.UI.csproj
UserSettings/
com.unity.cinemachine.editor.csproj
